.logo {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  order: 1;
  height: 50px;
  width: 50px;
}

.logo_normal {
  background-color: var(--secondary-color);
  border: 1px solid #fff;
}

.logo_inverted {
  background-color: #fff;
  border: 1px solid var(--secondary-color);
}

.logo__text {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 10px;
}

.logo__text_normal {
  color: #fff;
}

.logo__text_inverted {
  color: var(--primary-color);
}

@media only screen and (min-width: 600px) {
  .logo {
    order: 0;
    height: 75px;
    width: 75px;
  }

  .logo_normal {
    border: 2px solid #fff;
  }
  
  .logo_inverted {
    border: 2px solid var(--secondary-color);
  }

  .logo__text {
    font-size: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .logo {
    height: 100px;
    width: 100px;
  }

  .logo__text {
    font-size: 20px;
  }
}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}