.order {
  background-color: var(--secondary-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}