.label {
  color: var(--light-color);
  font-size: 20px;
}

.input {
  border: none;
  /* border-radius: 3px; */
  margin-top: 5px;
  padding: 10px 5px;
  height: 30px;
}

.input:focus {
  outline: none;
  border: 1px solid rgba(232, 88, 7, 0.5);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.error {
  background-color: var(--primary-color);
  font-size: 11px;
  color: var(--light-color);
  padding: 3px 5px;
  animation: entrance 500ms;
  animation-fill-mode: both;
  z-index: -1;
}

@keyframes entrance {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}